# Clave API de OpenAI (Opcional: Si no se provee, el sistema funciona en modo simulación asistida)
OPENAI_API_KEY=sk-proj-your-api-key-here

# Configuración de Base de Datos
DB_PATH=bovino_manta.db

# Configuración de Región Ganadera
REGION_NAME=Manta - Manabí
DEFAULT_LOCATION=San Lorenzo

# Autenticación Clerk API (Login / Registro)
CLERK_PUBLISHABLE_KEY=pk_test_Y2xlcmsuYm92aW5vYWkudjEuZGVtbyRwcml2YXRl
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2xlcmsuYm92aW5vYWkudjEuZGVtbyRwcml2YXRl

